# Ignorar arquivos e pastas temporárias
__pycache__/
*.pyc
*.pyo

# Ignorar banco de dados local
data/*.db

# Ignorar ambientes virtuais
.venv/
env/
venv/

# Arquivos do Streamlit
.streamlit/

# Arquivos de configuração locais
*.toml
*.log

/database_local.sqlite

